misterdiscount/src/test/resources/application.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://wadl.dev.java.net/2009/02" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="application" type="ns:applicationType" xmlns:ns="http://wadl.dev.java.net/2009/02"/>
  <xs:complexType name="methodType">
    <xs:sequence>
      <xs:element name="request" minOccurs="0">
        <xs:complexType mixed="true">
          <xs:sequence>
            <xs:element type="ns:representationType" name="representation" minOccurs="0" xmlns:ns="http://wadl.dev.java.net/2009/02"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element type="ns:responseType" name="response" xmlns:ns="http://wadl.dev.java.net/2009/02"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="optional"/>
  </xs:complexType>
  <xs:complexType name="responseType">
    <xs:sequence>
      <xs:element type="ns:representationType" name="representation" xmlns:ns="http://wadl.dev.java.net/2009/02"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="paramType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="name" use="optional"/>
        <xs:attribute type="xs:string" name="style" use="optional"/>
        <xs:attribute type="xs:QName" name="type" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="resourcesType">
    <xs:sequence>
      <xs:element type="ns:resourceType" name="resource" xmlns:ns="http://wadl.dev.java.net/2009/02"/>
    </xs:sequence>
    <xs:attribute type="xs:anyURI" name="base"/>
  </xs:complexType>
  <xs:complexType name="resourceType">
    <xs:sequence>
      <xs:element type="ns:paramType" name="param" maxOccurs="unbounded" minOccurs="0" xmlns:ns="http://wadl.dev.java.net/2009/02"/>
      <xs:element type="ns:methodType" name="method" maxOccurs="unbounded" minOccurs="0" xmlns:ns="http://wadl.dev.java.net/2009/02"/>
      <xs:element type="ns:resourceType" name="resource" maxOccurs="unbounded" minOccurs="0" xmlns:ns="http://wadl.dev.java.net/2009/02"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="path" use="optional"/>
  </xs:complexType>
  <xs:complexType name="representationType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="mediaType" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="applicationType">
    <xs:sequence>
      <xs:element type="ns:grammarsType" name="grammars" xmlns:ns="http://wadl.dev.java.net/2009/02"/>
      <xs:element type="ns:resourcesType" name="resources" xmlns:ns="http://wadl.dev.java.net/2009/02"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="requestType">
    <xs:sequence>
      <xs:element type="ns:representationType" name="representation" minOccurs="0" xmlns:ns="http://wadl.dev.java.net/2009/02"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="grammarsType">
    <xs:sequence>
      <xs:element ref="xs:schema"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>