misterdiscount/src/test/resources/schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="schema" type="xs:schemaType"/>
  <xs:complexType name="schemaType">
    <xs:sequence>
      <xs:element type="xs:elementType" name="element" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="xs:complexTypeType" name="complexType" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="attributeFormDefault"/>
    <xs:attribute type="xs:string" name="elementFormDefault"/>
  </xs:complexType>
  <xs:complexType name="elementType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="name" use="optional"/>
        <xs:attribute type="xs:string" name="type" use="optional"/>
        <xs:attribute type="xs:string" name="maxOccurs" use="optional"/>
        <xs:attribute type="xs:byte" name="minOccurs" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="sequenceType">
    <xs:sequence>
      <xs:element type="xs:elementType" name="element" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="complexTypeType">
    <xs:sequence>
      <xs:element type="xs:sequenceType" name="sequence"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name" use="optional"/>
  </xs:complexType>
</xs:schema>